{% extends 'assortment/base.html' %}
{% block content %}
<style>
  .text-left {
  text-align: left !important;
}
</style>
{% if motorcycle_list.count != 0 %}
  {% for motorcycle in motorcycle_list %}
    <div class="container-fluid btn-group btn-block" role="group">
        <a href="/motorcycle/{{ motorcycle.id }}/" class="btn btn-light col-11 text-left">{{ motorcycle.model }} : {{ motorcycle.name }}</a>
        {% if motorcycle.pub_user == user or user.is_superuser %}
        <a href="/delete_moto/{{ motorcycle.id }}/" class="btn btn-danger col-1">Удалить</a>
        {% endif %}
    </div>
  {% endfor %}
{% else %}
В данный момент нет доступных Вам мотоциклов.
{% endif %}
{% endblock %}